*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

header{
    max-width: 1920px;
    width: 100%;
    height: 820px;
    margin: auto;
}

.navbar-nav{
    width: 944px;
    display: flex;
    justify-content: space-between;
    margin: 32px auto ;

}

.nav_a1{
    font-size: 18px;
    font-weight: 700;
    color: #070707;

}

.nav_a2{
    font-size: 17px;
    font-weight: 650;
    color: rgba(7, 7, 7, 0.1);  
}

.line{
    width: 940px;
    margin: auto;
    height: 1px;
    background: linear-gradient(to right, #828282, #828282, #828282);

}

/* navbar end */

/* header end */

/* number3 start */
.number3{
    width: 100%;
    margin: auto;
    height: 2253px;
    background: #F6F6F6;

}

.number3_h1{
    text-align: center;
    font-size: 34px;
    font-weight: 650;
    color: #000;
    margin: 50px auto;
}

.number3_img{
    border-radius: 4px;
    width: 100%;
    height: 100%;
}
.number3_col{
    display: flex;
    flex-direction: column;
}

.number3_h2{
    font-size: 22px;
    font-weight: 400;
    text-decoration: underline;
    color: #000;
    text-align: center;
    margin: 25px auto;
}


.number3_h2:hover {
    font-size: 22px;
    font-weight: 400;
    text-decoration: underline;
    color: #000;
    text-align: center;
    margin: 25px auto;
    cursor: pointer;
}


/* footer start */

footer {
    max-width: 1445px;
    width: 100%;
    height: 622px;
    margin: auto;
}

.fot_box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 280px;
    width: 100%;
    margin: 50px auto;
}

.fot_h3 {
    font-size: 34px;
    font-weight: 700;
    color: #070707;
    margin: auto;
}

.fot_p {
    font-size: 18px;
    font-weight: 500;
    color: #070707;
    margin: auto;
    text-align: center;
    width: 441px;
}

.fot_btn {
    margin: auto;
    width: 180px;
    height: 42px;
    background: #070707 !important;
    color: #fff !important;
    font-size: 18px;
    font-weight: 500;
    border-radius: 20px !important;
}

.web_box {
    margin: auto;
    width: 300px;
    display: flex;
    justify-content: space-between;
}

.web_img {
    width: 39px;
    height: 39px;
    background: #fff;
}

.fot {
    font-size: 14px;
    font-weight: 500;
    color: #828282;
    text-align: center;
    align-items: center;
    width: 300px;
    margin: 95px auto;
}

.fot_a1{
    color: #828282;
    text-decoration: none;
}

.fot_a1:hover{
    color: #2d2a2a;
    text-decoration: none;
    cursor: pointer;
}

.asd {
    display: flex;
    justify-content: space-between;
    padding: 0 !important;
}

